
.topic {
    margin: 2%;
    padding: 1%;
}

.topic:hover {
    
}

#GIFarea {
    margin: auto;
    width: 50%;
    overflow: auto;
}

#GIFarea:nth-child(2n) {
    float: right;
    overflow: auto;
    
}