
.topic {
    margin: 2%;
    padding: 1%;
}

.topic:hover {
    background-color: #FCECA9;
}

.gifbox {
    float: left;
    width: 270px;
    height: 250px;
    max-height: 250px;
    margin: 10px 0px 10px 0px;
    overflow: auto;
}

.gifbox:nth-child(2n) {
    float: right;
    overflow: auto;
}

.still {
    height: 150px;
    width: 200px;
}

p {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
}


